.root {
    display: flex;
    align-items: center;
    z-index: 1;
}

.root::after {
    content: "";
    position: absolute;
    right: 10px;
    top: -26px;
    border-width: 16px 14px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
    cursor: pointer;
}
.hide-cart {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    margin-right: 6px;
    margin-top: -6px;
    margin-bottom: -4px;
    cursor: pointer;
}
.sucsess-cart {
    display: flex;
    flex-direction: row;
    margin: 0 24px;
}
.btn-cart {
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 18px;
    font-size: 10px
}